<p>home works!</p>

<button
  class="btn btn-primary"
  (click)="prevPage()"
  style="position: absolute; left: 12%; display: flex"
>
  Anteriores
</button>
<button
  class="btn btn-primary"
  (click)="nextPage()"
  [disabled]="(pokemons | filtro : page : search).length == 0"
  style="position: absolute; left: 80%; display: flex"
>
  Siguentes
</button>

<input
  type="text"
  class="form-control mb-2"
  placeholder="Buscar pokemon...."
  #txtSearch
  (keyup)="onSeasrchPokemon(txtSearch.value)"
  style="width: 50%; margin-left: 25%; border-radius: 20px"
/>

<div
  class="container"
  style="
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px;
  "
>
  <div
    class=""
    style="width: 100%; margin-left: 40%"
    *ngFor="let item of pokemons | filtro : page : search"
  >
    <img
      [src]="item.pic"
      class="card-img-top"
      alt="..."
      style="
        background-color: aliceblue;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.5s ease;
      "
    />
    <div class="card-body">
      <h5 class="card-title" style="font-size: 15px">#{{ item.id }}</h5>
      <h2 class="card-title">{{ item.name }}</h2>

      <a class="btn btn-primary"></a>
    </div>
  </div>
</div>
